mastodon-comments {
  display: flex;
  flex-direction: column;

  article.comment {
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    background-color: var(--bg-0);
    border-radius: 3px;
    border: var(--fbc-borders);

    &:last-child {
      margin-bottom: 0;
    }

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .header { // all meta information of the comment
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      gap: 0.75rem;

      .avatar-link { // the link to the author's profile
        display: flex;
        align-items: center;
        picture { // author's avatar
          display: flex;
          img.avatar { // actual author's avatar picture
            width: 5rem;
            min-width: 5rem;
            max-width: 5rem;
            /* border: 1px solid var(--primary-color); */
            /* border-radius: 50%; */
            border-radius: 5px;
          }
        }
      }

      .header-info { // displayInstance, timestamp, and faves
        display: flex;
        flex-direction: column;

        .display { // author's displayed name, not username
          font-weight: bold;
          font-size: 1.2rem;
        }

        .instance { // author's instance
        }

        time { // timestamp
        }

        .faves { // fav counter
        }
      }
    }

    &.op .display::after { // display badge saying "author" next to author's name
      content: "author";
      font-variant: small-caps;
      font-size: 0.9rem;
      color: var(--bg-0);
      background-color: var(--primary-color);
      border-radius: 5px;
      margin-left: 0.6rem;
      padding: 0.1rem 0.3rem;
      position: relative;
      bottom: 0.1rem;
    }

    main { // actual comment content
      padding: 0.5rem;
    }

    footer { // media attachments
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }

  .comment-indent {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    padding-left: 0;
    border: none;

    @media all and (min-width: 960px) {
      padding-left: 1rem;
      border-left: 1px solid var(--indent-guide-color);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .indent-level-1 {
    --indent-guide-color: var(--peach);
  }

  .indent-level-2 {
    --indent-guide-color: var(--teal);
  }

  .indent-level-3 {
    --indent-guide-color: var(--rosewater);
  }

  .indent-level-4 {
    --indent-guide-color: var(--green);
  }
}

