{#- Set paths based on whether the src is remote or local -#}
{%- if src_1x is starting_with("http") or raw_path -%}
    {%- set image_url_1x = src_1x -%}
{%- else -%}
    {%- set image_url_1x = page.permalink ~ src_1x -%}
{%- endif -%}

{#- and again for the 2x image -#}
{%- if src_2x is starting_with("http") or raw_path -%}
    {%- set image_url_2x = src_2x -%}
{%- else -%}
    {%- set image_url_2x = page.permalink ~ src_2x -%}
{%- endif -%}

{%- set lazy_loading = lazy_loading | default(value=true) -%}

<p>
    <img
      src="{{ image_url_1x }}"
      srcset="{{ image_url_1x }} 1x, {{ image_url_2x }} 2x"
      {% if alt %} alt="{{ alt }}"{% endif %}
      {% if lazy_loading %} loading="lazy"{% endif %}
    />
</p>
