$cartograph-font-url: "/assets/CartographCF";

@font-face {
  font-family: "Cartograph CF";
  src:
    url("#{$cartograph-font-url}/CartographCF-Regular.woff2") format("woff2"),
    url("#{$cartograph-font-url}/CartographCF-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cartograph CF";
  font-style: italic;
  src:
    url("#{$cartograph-font-url}/CartographCF-RegularItalic.woff2") format("woff2"),
    url("#{$cartograph-font-url}/CartographCF-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Cartograph CF";
  font-weight: bold;
  src:
    url("#{$cartograph-font-url}/CartographCF-Bold.woff2") format("woff2"),
    url("#{$cartograph-font-url}/CartographCF-Bold.woff") format("woff");
}

// Get a font to cover box drawing characters, since Cartograph CF doesn't have
// its own glyphs for those.
@font-face {
  font-family: 'MonospaceSymbols';
  src: url(https://fonts.gstatic.com/s/firacode/v27/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJeraE8PZqw.woff2) format('woff2');
  size-adjust: 102.5%;  // Try to match glyph width of Cartograph CF
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+2500-257F,  // Box Drawing
    U+2580-259F,  // Block Elements
    U+25A0-25FF;  // Geometric Shapes
}

@mixin theme-variables($theme) {
    @if $theme =='light' {
        --primary-color: #1460bd;
    }
    @else if $theme == 'dark' {
        --primary-color: #ec984f;
    }
}

// Apply light theme variables by default.
:root {
    @include theme-variables('light');
}

// Apply dark theme variables when dark theme is explicitly set.
[data-theme='dark'] {
    @include theme-variables('dark');
}

// Apply dark theme variables when user's system prefers dark mode
// and the theme is not explicitly set to light.
@media (prefers-color-scheme: dark) {
    :root:not([data-theme='light']) {
        @include theme-variables('dark');
    }
}

// Use gray for code block headers instead of main highlight color
.z-code {
  --primary-color: #727272;
}
[data-theme='dark'] .z-code {
  --primary-color: #b3b3b3;
}

:root {
  --code-font: MonospaceSymbols, Cartograph CF, monospace;

  // When I set the font to Cartograph CF a vertical scroll bar appears with
  // a tiny amount of scrolling. Hide that bar!
  pre code { overflow-y: hidden; }
}

// Customize syntax highlighting

.z-code {
  tab-size: 4;
}

.z-name { font-style: normal !important; }
/* .z-variable.z-function, // function invocations in go */
.z-support.z-class, // class references in Ruby
.z-support.z-type, // built-in types
[data-lang=yaml] .z-key-value + .z-keyword, // pipes indicating a block string value in yaml
.z-storage.z-arrow, // arrow function arrow in Typescript
[data-lang=go] .z-storage, // Go uses types to signal declarations instead of keywords - don't italicize the types
[data-lang=ruby] .z-punctuation + .z-constant.z-language, // symbols in Ruby
.z-code .z-entity.z-other.z-attribute-name {
  font-style: normal; 
}

// Built-in symbols should be italicized
.z-builtin,
.z-support.z-type.z-builtin, // null in typescript
.z-keyword,
.z-modifier,
.z-storage, // declarations & declaration modifiers including 'let', 'const', 'function', '=>', 'async'
/* .z-storage.z-rust, // declarations for langs that use a keyword instead of a type to indicate a new variable */
/* [data-lang=typescript] .z-storage, // declarations & declaration modifiers including 'let', 'const', 'function', '=>', 'async' */
/* [data-lang=typescript] .z-storage, // declarations & declaration modifiers including 'let', 'const', 'function', '=>', 'async' */
.z-echo, // `echo` command in shell
.z-constant.z-language,
.z-variable.z-language {
  font-style: italic; 
}

// except operators which should not be italicized
.z-keyword.z-operator {
  font-style: normal;
}

.z-comment { font-style: normal; }

.z-annotation.z-rust, .z-annotation.z-rust .z-punctuation {
  color: var(--overlay0); 
}

main > .list {
  margin-top: 8em;
}

.talklist-row {
  padding: 0.75rem 0;

  &:first-of-type {
    padding-top: 2rem;
  }

  .date {
    font-weight: 300;
    color: var(--meta-color);
  }
}

// Text alignment in tables using Markdown won't work unless the content
// security policy is changed to allow "unsafe inline" styles. Instead of doing
// that I'm going to set all tables in article content to be left-aligned.
article .body tr {
  text-align: left;
}

// There is a note in an aside in
// @/2012-07-31_promise-pipelines-in-javascript/index.md about a Spanish
// translation.
article aside {
  font-style: italic;
}
